#editor-menu {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(49, 49, 47, .99), #262625);
  border-radius: 5px;
  animation: pop-upwards 180ms forwards linear;
}
#editor-menu.active {
  transition: top 75ms ease-out, left 75ms ease-out;
}
#editor-menu::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -7px;
  border: 7px solid transparent;
  border-top-color: #262625;
}
#editor-menu button {
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  border: none;
  padding: 0 8px;
  color: #fff;
  background: none;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
#editor-menu button:first-child {
  padding-left: 18px;
}
#editor-menu button:last-child {
  padding-right: 18px;
}
#editor-menu .editor-button-separator {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  margin: 0 6px;
  height: 24px;
  background: rgba(255, 255, 255, .2);
}
@keyframes pop-upwards {
  0% {
    transform: matrix(.97, 0, 0, 1, 0, 12);
    opacity: 0
  }
  20% {
    transform: matrix(.99, 0, 0, 1, 0, 2);
    opacity: .7
  }
  40% {
    transform: matrix(1, 0, 0, 1, 0, -1);
    opacity: 1
  }
  70% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1
  }
}
