{#if attributes.header === 1}
<h1><LineContents {contents} {markups} {embeds}/></h1>
{:elseif attributes.header === 2}
<h2><LineContents {contents} {markups} {embeds}/></h2>
{:elseif attributes.header === 3}
<h3><LineContents {contents} {markups} {embeds}/></h3>
{:elseif attributes.header === 4}
<h4><LineContents {contents} {markups} {embeds}/></h4>
{:elseif attributes.header === 5}
<h5><LineContents {contents} {markups} {embeds}/></h5>
{:elseif attributes.header === 6}
<h6><LineContents {contents} {markups} {embeds}/></h6>
{/if}

<script>
  export default {
    components: { LineContents: './LineContents.html' }
  }
  </script>